.top-container {
  background-color: #CCF3EE;
  position: relative;
  padding-top: 100px;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.7em;
  color: #354259;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #354259;
  font-weight: normal;
}

p {
  color: #40514E;
  line-height: 2;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
  margin-top: 50px;
  margin-bottom: 50px;
}

hr {
  border-style: dotted none none;
  border-color: #CDC2AE;
  border-width: 8px;
  width: 5%;
  margin-top: 100px;
  margin-bottom: 100px
}

.intro{
  width: 30%;
  margin: auto;

}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 360px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.photo {
  width: 150px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.skill-descriptions {
  clear: left;
}

.photo1 {
  float: left;
  width: 150px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 10px;
}

.photo2 {
  float: right;
  width: 150px;
  height: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}

.footer-link {
  color: #11999E;
  margin-right: 50px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
.footer-link:hover{
  color: #354259;
}

.bottom-container {
  margin-top: 70px;
  padding-top: 40px;
  height: 120px;
  background-color: #9ADCFF;
}

.bottomtext {
  margin-top: 36px;
  font-size: 0.8rem;
}

.contact-text {
  width: 40%;
  margin: 0 auto 50px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
  text-decoration: none;
}
