.top-container {
  background-color: #CCF3EE;
  position: relative;
  padding-top: 100px;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.7em;
}
h2 {
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.miidle-container {}

.bottom-container {}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.photo1 {
  width: 150px;
  height: auto;
}
