.top-container {
  background-color: #CCF3EE;
  position: relative;
  padding-top: 100px;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1{
margin-top: 0;
font-family: "Sacramento", cursive;
}

h3{

  font-family: "Montserrat", sans-serif;
}
.miidle-container{

}
.bottom-container{

}
.pro{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  top: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.photo1{
  width: 150px;
height: auto;
}
